/* src/assets/main.css */
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  /* Link color can also use a variable now */
  color: var(--p-primary-color, hsla(160, 100%, 37%, 1));
  transition: 0.4s;
}

/* Transitions for the router view */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
